<div id="<%= dom_id task %>">
  <p>
    <strong>Task name:</strong>
    <%= task.task_name %>
  </p>

  <p>
    <strong>Task date:</strong>
    <%= task.task_date %>
  </p>

  <p>
    <strong>Task desc:</strong>
    <%= task.task_desc %>
  </p>

</div>
