<h1>Editing task</h1>

<%= render "form", task: @task %>

<br>

<div>
  <%= link_to "Show", @task, class: "btn btn-outline-secondary" %>
  <%= link_to "Back to tasks", tasks_path, class: "btn btn-outline-secondary" %>
</div>
