
<div class="card mb-3 mt-3">
  <%# <img class="card-img-top" src="..." alt="Card image cap"> %>
  <div class="card-body">
    <h1 class="card-title">About Me</h1>
    <p class="card-text">My name is Zheer! I have graduated from University of Sulaimani IT Department. Besides that I am a Web Developer and a Web Designer. I always enjoy learning new techs and programming languages, and like to expand my knowledge in other tech fields such as AI, Networking, Cloud Computing, and etc..</p>
    
  </div>
</div>