<div class="container">
    <h1 class="text-center mt-4 mb-4">Find me in:</h1>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <div class="text-center mb-4">
            <%= link_to(image_tag("linkedIn.png", :alt => "LinkedIn", :class => "img-fluid"), "/") %>
        </div>
        <h5 class="card-title">LinkedIn Profile</h5>
        <p class="card-text">Visist my LinkedIn page to see my posts and my skills.</p>
        <div class="text-center">
            <a href="https://www.linkedin.com/in/zheer-jamal/" class="btn btn-primary" target="_blank">LinkedIn</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <div class="text-center mb-4">
            <%= link_to(image_tag("github.png", :alt => "LinkedIn", :class => "img-fluid"), "/") %>
        </div>
        <h5 class="card-title">Github Profile</h5>
        <p class="card-text">Visit my Github page to see my projects.</p>
        <div class="text-center">
            <a href="https://github.com/Zheer-Hawre" class="btn btn-primary" target="_blank">Github</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
    <h1 class="text-center mt-4 mb-4">My Projects:</h1>
</div>

<div class="row mb-4">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Tod App</h5>
        <p class="card-text">Chek the codes of this project in my github page.</p>
        <a href="https://github.com/Zheer-Hawre/Ruby-Todo" class="btn btn-primary" target="_blank">Todo App</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Rails Friends App</h5>
        <p class="card-text">Chek the codes of this project in my github page.</p>
        <a href="https://github.com/Zheer-Hawre/railsfriends" class="btn btn-primary" target="_blank">Rails Friends</a>
      </div>
    </div>
  </div>
</div>
<div class="row mb-4">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Foodlog</h5>
        <p class="card-text">Chek the codes of this project in my github page.</p>
        <a href="https://github.com/Zheer-Hawre/FoodLog" class="btn btn-primary" target="_blank">Foodlog</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Theme Calculator</h5>
        <p class="card-text">Chek the codes of this project in my github page.</p>
        <a href="https://github.com/Zheer-Hawre/Theme-Calculator" class="btn btn-primary" target="_blank">Calculator</a>
      </div>
    </div>
  </div>
</div>